.container-profile {
	max-width: 1920px;
	margin: 0 auto;
	padding: 80px 194px 60px 80px;
}

.profile_title {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 44px;
	color: #515151;
}

.profile_flex {
	display: flex;
	justify-content: space-between;
}

.profile-info {
	display: flex;
	gap: 80px;
	padding: 80px 0 60px 0;
}

.profile-data,
.profile-pin {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.profileTitle {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 26px;
	color: rgba(0, 0, 0, 0.3);
}

.profileInfo {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 28px;
	color: #515151
}

.profile_btn-block {
	display: flex;
	gap: 110px;
}

.profile_btn-block-update {
	display: flex;
	flex-direction: column;
	gap: 20px;

}

.profile_btn-block button {
	padding: 16px 32px;
	border: 0.80px solid #515151;
	border-radius: 5px;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	color: #515151
}

.profile_btn-block button:hover {
	font-family: var(--font-family);
	color: white;
	background: #aa8847;
}


.profile_flex-right {
	max-width: 750px;
	width: 100%;
}

.history_buing {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 26px;
	color: rgba(0, 0, 0, 0.3);
	padding: 80px 0 30px 0;
}

.profile-history {
	max-width: 736px;
	width: 100%;
	height: 648px;
	overflow-y: scroll;
	border-left: 1px solid #515151;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.history_card {
	width: 682px;
	height: 196px;
	display: flex;
	padding: 14px 18px 14px 12px;
	box-shadow: 2px 11px 18px 0 rgba(0, 0, 0, 0.1);
	background: white;
}

.history_card-img {
	max-width: 122px;
	width: 100%;
	height: 168px;
}

.history_card-img img {
	width: 100%;
	height: 168px;
	object-fit: center;
}

.history_card-data {
	padding: 6px 0 0 24px;
}

.history_card-info {
	display: flex;
	gap: 20px;
	padding: 10px 0;
	text-wrap: nowrap;
}

.history_card_name {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 24px;
	color: #515151;
	margin-bottom: 10px;
}

.history_card_row {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	color: #515151;

}

.history_card-info span {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	color: #515151;
	display: flex;
	gap: 8px;
}

.history_description {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #515151;
}


.history_date_mobile {
	display: flex;
	flex-direction: column;
	display: none;
}

.history_date_mobile span {
	display: flex;
	font-weight: 400;
	font-size: 18px;
	color: #515151;
	gap: 8px;
}


.password_input_change {
    width: 100%;
    border-bottom: 1px solid #B4B4B4;
    display: flex;
    justify-content: space-between;
    padding: 12px 12px 5px;
}

.password_input_change input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0 0;
    font-size: 20px;
    background-color: transparent;
}


@media (max-width:1665px) {
	.container-profile {
		padding: 80px 40px 60px 80px;
	}
}


@media (max-width:1450px) {
	.profile-info {
		gap: 20px;
	}

	.profile_btn-block {
		gap: 50px;
	}

	.history_card {
		width: 650px;
		padding: 14px 18px 14px 12px;
		box-shadow: 2px 11px 18px 0 rgba(0, 0, 0, 0.1);
		background: white;
	}

	.profile-history {
		max-width: 700px;
		padding-left: 10px;
	}
}

@media(max-width:1400px) {
	.profile-info {
		gap: 40px;
		flex-direction: column;
	}

	.profile_btn-block {
		gap: 20px;
		flex-direction: column;
	}
}

@media(max-width: 1200px) {
	.profile_flex {
		flex-direction: column;

	}

	.profile-info {
		gap: 80px;
		flex-direction: row;
		justify-content: center;
	}

	.profile_btn-block {
		gap: 110px;
		flex-direction: row;
		justify-content: center;
		margin-left: -100px;
	}

	.profile_flex-right {
		margin: 0 auto;
	}
}


@media(max-width: 1000px) {
	.container-profile {
		padding: 70px 50px 60px 50px;
	}

	.profile_title {
		font-size: 35px;
	}
}

@media(max-width:830px) {
	.history_card {
		width: 317px;
		height: 190px;

	}

	.history_card_name {
		font-size: 20px;
		margin-top: -6px;
		margin-bottom: 10px;
	}

	.history_description {
		display: none;
	}

	.history_card_row {
		text-wrap: nowrap;
		margin-bottom: 10px;
	}

	.history_card-info {
		display: flex;
		gap: 20px;
		padding: 10px 0;
		text-wrap: nowrap;
		display: none;
	}

	.history_date_mobile {
		display: flex;

	}

	.history_date_mobile_block {
		display: flex;
		gap: 8px;
		align-items: center;
	}

	.history_date_mobile span img {
		width: 24px;
		height: 24px;
	}

	.history_date_mobile_block span img {
		width: 24px;
		height: 24px;
	}

	.history_date_mobile_data {
		display: flex;
		flex-direction: column;
		gap: 0 !important;

	}

	.profile-history {
		max-width: 370px;
		padding-left: 10px;
		margin: 0 auto;
	}

	.history_date_mobile span {
		margin-bottom: 10px;
	}

	.history_date_mobile p {
		font-size: 16px;
	}

	.history_buing {
		max-width: 376px;
		margin: 0 auto;
	}
}

@media(max-width:710px) {
	.container-profile {
		padding: 50px 20px 60px 20px;
	}

	.profileTitle {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 28px;
		color: var(--515151);
	}

	.profile-info {
		max-width: 376px;
		gap: 40px;
		gap: 20px;
		margin: 0 auto;
		flex-direction: column;
	}

	.profile_btn-block {
		max-width: 300px;
		margin: 0 auto;
		gap: 20px;
		flex-direction: column-reverse;
		text-align: center;
	}

	.profile-data,
	.profile-pin {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.profileTitle {
		font-size: 24px;

	}

	.profileInfo {
		font-size: 22px;
	}

	.history_buing{
		font-family: var(--font-family);
font-weight: 500;
font-size: 26px;
color: rgba(0, 0, 0, 0.3);
	}

}