@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*{
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root{
  --btn-primary: rgb(255, 205, 0);
}
.container{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 80px;
}

@media (max-width:1000px){
  .container{
    padding: 0 50px ;
  }
}