.aboutAnimations {
    overflow-x: hidden;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .div {
        overflow-x: scroll;
        position: relative;

        &::-webkit-scrollbar {
            width: 0;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #ff0000;
            border-radius: 4px;
            transform: translateY(-100px);
        }

        >div {
            flex-direction: column;

            &:nth-child(even) {
                flex-direction: column-reverse;
            }


        }
    }


}

.duotes {
    overflow-x: hidden;
}

.paralax-box div {
    &:nth-child(even) {
        transform: translateY(0px);
    }

    &:nth-child(odd) {
        transform: translateY(117px);

    }
}